pip>=21.2.4
wheel>=0.37.0

bumpversion==0.5.3
watchdog==0.8.3
flake8==6.0.0
coverage==4.1
Sphinx==1.4.4
pytest==7.0.1
pytest-runner==4.2.0
mock==2.0.0
PyYAML==5.4.1
Pygments==2.5.2
Jinja2==2.11.3
more-itertools==5.0.0

# Pin this so "python setup.py develop" doesn't fail on Python 3.6
typing-extensions==4.1.1
# Pin, otherwise "python setup.py test" fails on Python 3.6
tomli==1.2.3
